* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.h1,
h1 {
  font-size: 2.25rem;
}

.h2,
h2 {
  font-size: 2rem;
}

.h3,
h3 {
  font-size: 1.75rem;
}

.h4,
h4 {
  font-size: 1.5rem;
}

.h5,
h5 {
  font-size: 1.25rem;
}

.form-row {
  margin-bottom: 1rem;
}

.input-group {
  display: grid;
}

.input {
  background: #e0e0e0;
  border: none;
  padding: 0.4em 0.7em;
  border-radius: 0.4em;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.container-buttons {
  display: grid;
  justify-content: end;
  gap: 0.5rem;
}

hr {
  margin-bottom: 0.5rem;
  border: 1px solid #e0e0e0;
}

.btn {
  border-radius: 0.4em;
  background-color: #f50057;
  color: #fff;
  border: none;
  padding: 0.4em 0.7em;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

.link-auth {
  font-size: 0.9rem;
}

.link {
  text-decoration: none;
  color: #03a9f4;
}

.col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.obligatorio {
  text-align: end;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}
