<template>
  <div id="login">
    <Welcome />
    <transition name="slide-fade" mode="out-in">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
import Welcome from "../components/Welcome";
export default {
  components: {
    Welcome
  }
};
</script>

<style>
#login {
  display: grid;
  grid-template-columns: 40vw 60vw;
}
#form-auth {
  display: grid;
  align-items: center;
  justify-content: center;
}

.form-container {
  min-width: 25rem;
}

.form {
  margin-bottom: 1rem;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all 0.4s ease;
}
.slide-fade-leave-active {
  transition: all 0.4s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(400px);
  opacity: 0;
}

html,
body {
  overflow-y: hidden;
}
</style>
