<template>
  <div id="form-auth">
    <div class="form-container">
      <h3>Iniciar sesión</h3>
      <hr />
      <form v-on:submit.prevent="logIn" class="form">
        <div class="container-inputs">
          <div class="form-row">
            <div class="input-group">
              <label>Correo</label>
              <input
                v-model="correo"
                class="input"
                type="email"
                placeholder="Ingrese su correo electrónico"
                required
              />
            </div>
          </div>
          <div class="form-row">
            <div class="input-group">
              <label>Contraseña</label>
              <input
                v-model="password"
                class="input"
                type="password"
                placeholder="Ingrese su contraseña"
                required
              />
            </div>
          </div>
        </div>
        <div class="container-buttons">
          <button type="submit" class="btn">Entrar</button>
        </div>
      </form>
      <div class="link-auth">
        ¿No tienes una cuenta?
        <router-link class="link" to="register">Registrarse</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      correo: null,
      password: null
    };
  },
  methods: {
    logIn() {
      const correo = this.correo;
      const password = this.password;
      this.$store.dispatch("auth/logIn", { correo, password });
    }
  }
};
</script>
