<template>
  <div id="form-auth">
    <div class="form-container">
      <h3>Crear una cuenta</h3>
      <hr />
      <form class="form">
        <p class="obligatorio">Todos los campos son obligatorios.</p>
        <div class="container-inputs">
          <div class="form-row">
            <div class="input-group">
              <label>Identificación</label>
              <input class="input" type="number" placeholder="Ingrese su identificación" required />
            </div>
          </div>
          <div class="form-row col-2">
            <div class="input-group">
              <label>Nombres</label>
              <input class="input" type="text" placeholder="Ingrese su nombre" required />
            </div>
            <div class="input-group">
              <label>Apellidos</label>
              <input class="input" type="text" placeholder="Ingrese su apellido" required />
            </div>
          </div>
          <div class="form-row">
            <div class="input-group">
              <label>Teléfono</label>
              <input class="input" type="number" placeholder="Ingrese su teléfono" />
            </div>
          </div>
          <div class="form-row">
            <div class="input-group">
              <label>Correo</label>
              <input class="input" type="email" placeholder="Ingrese su correo electrónico" />
            </div>
          </div>
          <div class="form-row">
            <div class="input-group">
              <label>Contraseña</label>
              <input class="input" type="number" placeholder="Ingrese una contraseña" />
            </div>
          </div>
        </div>
        <div class="container-buttons">
          <button class="btn">Registrarse</button>
        </div>
      </form>
      <div class="link-auth">
        ¿Ya tienes una cuenta?
        <router-link class="link" to="login">Iniciar sesión</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>