<template>
  <div id="welcome">
    <div>
      <div class="welcome-title">
        <h5>Sistema de reservas</h5>
        <h3>Realiza la reserva de video beams de una manera fácil y rápida.</h3>
      </div>
      <div class="welcome-logo">
        <img class="logo" src="../assets/logo.png" alt="Uniajc" />
      </div>
    </div>
  </div>
</template>

<style scoped>
#welcome {
  display: grid;
  align-items: center;
  width: 40vw;
  height: 100vh;
  background: #0d47a1;
  color: #fff;
  padding: 1.5em 3em;
  box-sizing: border-box;
  text-align: center;
}

.welcome-title {
  margin-bottom: 3rem;
}

h5 {
  color: rgb(175, 201, 240);
}

.logo {
  width: 12em;
}
</style>
